.Snapshot {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr 1fr 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1rem 1rem;
  place-content: center center;
  text-align: center;
  font-family: verdana;
}

.Messages {
  grid-area: 1 / 1 / 5 / 8;
  font-family: monospace;
  font-size: 2rem;
  color: var(--rsp_darkblue);
  background-color: var(--rsp_mediumgreen);
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
  box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
}

.Alert {
  grid-area: 1 / 9 / 3 / 12;
  color: var(--rsp_darkblue);
  background-color: var(--rsp_green);
  font-size: 2rem;
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
  box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
}

.Space1 {
  grid-area: 1 / 8 / 15 / 9;
}

.Space2 {
  grid-area: 1 / 12 / 15 / 13;
}

.State {
  grid-area: 3 / 9 / 5 / 12;
  font-size: 1.5rem;
  color: white;
  background-color: var(--rsp_green);
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
  box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
}

.Patient {
  grid-area: 1 / 13 / 5 / 19;
  font-size: 2rem;
  color: white;
  background-color: var(--rsp_mediumblue);
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
  box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
}

.Measurements {
  grid-area: 5 / 1 / 6 / 8;
  color: var(--rsp_paleblue);
  background-color: var(--rsp_darkblue);
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 0rem;
  margin-bottom: 0rem;
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
  box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
}

.Peak {
  grid-area: 6 / 1 / 9 / 4;
  background-color: var(--rsp_green);
  color: var(--rsp_paleblue);
  font-size: 1rem;
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
  box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
}

.Plateau {
  grid-area: 9 / 1 / 12 / 4;
  background-color: var(--rsp_green);
  color: var(--rsp_paleblue);
  font-size: 1rem;
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
  box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
}

.Peep {
  grid-area: 12 / 1 / 15 / 4;
  background-color: var(--rsp_green);
  color: var(--rsp_paleblue);
  font-size: 1rem;
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
  box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
}

.MinuteVol_M {
  grid-area: 13 / 4 / 15 / 6;
  background-color: var(--rsp_green);
  color: var(--rsp_brightgreen);
  font-size: 1rem;
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
  box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
}

.MinuteVol_S {
  grid-area: 13 / 6 / 15 / 8;
  background-color: var(--rsp_green);
  color: var(--rsp_brightgreen);
  font-size: 1rem;
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
  box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
}

.MinuteVols {
  grid-area: 12 / 4 / 13 / 8;
  background-color: var(--rsp_darkblue);
  color: white;
  font-size: 1.75rem;
  font-weight: bold;
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
  box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
}

.MBPM {
  grid-area: 10 / 4 / 12 / 6;
  background-color: var(--rsp_green);
  color: var(--rsp_brightgreen);
  font-size: 1rem;
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
  box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
}

.SBPM {
  grid-area: 10 / 6 / 12 / 8;
  color: var(--rsp_brightgreen);
  background-color: var(--rsp_green);
  font-size: 1rem;
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
  box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
}

.BPM {
  grid-area: 9 / 4 / 10 / 8;
  background-color: var(--rsp_darkblue);
  color: white;
  font-size: 1.75rem;
  font-weight: bold;
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
  box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
}

.Tidal {
  grid-area: 7 / 4 / 9 / 6;
  background-color: var(--rsp_green);
  color: var(--rsp_brightgreen);
  font-size: 1rem;
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
  box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
}

.Minute {
  grid-area: 7 / 6 / 9 / 8;
  background-color: var(--rsp_green);
  color: var(--rsp_brightgreen);
  font-size: 1rem;
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
  box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
}

.Volume {
  grid-area: 6 / 4 / 7 / 8;
  color: white;
  background-color: var(--rsp_darkblue);
  font-size: 1.75rem;
  font-weight: bold;
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
  box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
}

.Environment {
  grid-area: 5 / 9 / 6 / 12;
  background-color: var(--rsp_darkblue);
  color: var(--rsp_paleblue);
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 0rem;
  margin-bottom: 0rem;
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
  box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
}

.FiO2 {
  grid-area: 6 / 9 / 12 / 12;
  color: var(--rsp_paleblue);
  font-size: 1.5rem;
  background-color: var(rsp_mediumblue);
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
  box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
}

.Compliance {
  grid-area: 12 / 9 / 15 / 12;
  color: var(--rsp_brightgreen);
  background-color: var(--rsp_green);
  font-size: 1rem;
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
  box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
}

.Parameters {
  grid-area: 5 / 13 / 6 / 19;
  color: var(--rsp_paleblue);
  background-color: var(--rsp_darkblue);
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 0rem;
  margin-bottom: 0rem;
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
  box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
}

.Mode {
  grid-area: 6 / 13 / 8 / 16;
  color: var(--rsp_paleblue);
  background-color: var(--rsp_mediumblue);
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
  box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
}

.VT {
  grid-area: 8 / 13 / 10 / 16;
  color: var(--rsp_paleblue);
  background-color: var(--rsp_mediumblue);
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
  box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
}

.RR {
  grid-area: 10 / 13 / 12 / 16;
  color: var(--rsp_paleblue);
  background-color: var(--rsp_mediumblue);
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
  box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
}

.IE {
  grid-area: 12 / 13 / 14 / 16;
  color: var(--rsp_paleblue);
  background-color: var(--rsp_mediumblue);
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
  box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
}

.IPeep {
  grid-area: 6 / 16 / 8 / 19;
  color: var(--rsp_paleblue);
  background-color: var(--rsp_mediumblue);
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
  box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
}

.PMAX {
  grid-area: 8 / 16 / 10 / 19;
  color: var(--rsp_paleblue);
  background-color: var(--rsp_mediumblue);
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
  box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
}

.PS {
  grid-area: 10 / 16 / 12 / 19;
  color: var(--rsp_paleblue);  
  background-color: var(--rsp_mediumblue);
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
  box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
}

.TPS {
  grid-area: 12 / 16 / 14 / 19;
  color: var(--rsp_paleblue);
  background-color: var(--rsp_mediumblue);
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
  box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
}

.Pending {
  grid-area: 14 / 13 / 15 / 19;
  color: white;
  background-color: var(--rsp_darkblue);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
  box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
}

.Indicators {
  grid-area: 15 / 1 / 17 / 4;
  background-color: var(--rsp_darkblue);
  color: white;
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
  box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
}

.SysUid {
  grid-area: 15 / 4 / 17 / 9;style="margin-top:0rem; margin-bottom:0.75rem; font-size:1rem;padding-top:0.125rem; padding-bottom:0.15rem; background-color:var(--rsp_darkblue);">
  background-color: var(--rsp_darkblue);
  color: white;
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
  box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
}

.Logo {
  grid-area: 15 / 9 / 17 / 19;
  background-color: var(--rsp_darkblue);
  color: white;
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
  box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
}

.EmptyColumn {
  grid-area: 1 / 1 / 17 / 19;
  background-color: white;
}

.Advice {
  grid-area: 1 / 20 / 17 / 48;
  font-family: verdana;
  font-size: 2rem;
  color: var(--rsp_darkblue);
  background-color: var(--rsp_mediumgreen);
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
  box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
}

.ChartWrapper {
  background-color: var(--rsp_lightblue);
  border-color: var(--rsp_mediumblue);
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
  box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
  min-height: 30rem;
  margin-bottom: 1rem;
}

.ChartCanvas {
  margin-bottom: 4rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.pressureHeadingCls {
  padding-top:0.25rem; 
  padding-bottom:0.25rem; 
  margin-top:0rem; 
  margin-bottom:0.5rem; 
  font-size:1.1rem;
  background-color:var(--rsp_darkblue);
}

.paramHeadingCls {
  margin-top:0rem; 
  margin-bottom:0.75rem; 
  font-size:1rem;
  font-weight:bold;
  padding-top:0.125rem; 
  padding-bottom:0.15rem; 
  background-color:var(--rsp_darkblue);
}

.paramValueCls {
  margin-top:0rem; 
  margin-bottom:0.315rem; 
  font-size:1.9rem; 
  font-weight:bold;
}

.paramUnitsCls {
  margin-top:0rem; 
  margin-bottom:0rem; 
  font-size:0.8rem;
}

.measuredHeadingCls {
  padding-top:0.125rem; 
  padding-bottom:0.15rem; 
  background-color:var(--rsp_darkblue); 
  margin-top:0rem; 
  margin-bottom:0rem; 
  font-size:1.1rem;
}

.measuredValueCls {
  margin-top:1rem; 
  margin-bottom:0.625rem; 
  font-size:1.9rem; 
  font-weight:bold;
}

.measuredUnitsCls {
  margin-top:0rem; 
  margin-bottom:0rem; 
  font-size:0.8rem;
}
