body {
  background-color: #f7f9fa;
}
.disabled {
  background: rgba(150,150,150,0.5);
}
.gridster .gs_w {
  background-color: #00b3a0;
}
.gridster header {
  background-color: #323182;
}
.sub-section {
  border-bottom: none;
}

