.Snapshot {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1em 1em;
  place-content: center center;
  text-align: center;
  font-family: verdana;
}

.Messages {
  grid-area: 1 / 1 / 5 / 8;
  border-radius: 25px;
  font-family: monospace;
  font-size: 4em;
  color: white;
  background-color: var(--rsp_mediumblue);
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4); 
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4);
}

.Alert {
  grid-area: 1 / 9 / 3 / 12;
  border-radius: 25px;
  background-color: var(--rsp_green);
  color: white;
  font-size: 3em;
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4); 
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4);
}

.Space1 {
  grid-area: 1 / 8 / 15 / 9;
}

.Space2 {
  grid-area: 1 / 12 / 15 / 13;
}

.State {
  grid-area: 3 / 9 / 5 / 12;
  border-radius: 25px;
  background-color: var(--rsp_mediumblue);
  font-size: 2em;
  color: white;
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4); 
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4);
}

.Patient {
  grid-area: 1 / 13 / 5 / 19;
  border-radius: 0px 0px 25px 25px;
  font-size: 3em;
  color: white;
  background-color: var(--rsp_mediumblue);
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4); 
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4);
}

.Measurements {
  grid-area: 5 / 1 / 6 / 8;
  color: white;
  background-color: var(--rsp_darkblue);
  font-size: 2.5em;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4); 
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4);
}

.Peak {
  grid-area: 6 / 1 / 9 / 4;
  border-radius: 0px 0px 25px 25px;
  background-color: var(--rsp_mediumblue);
  color: white;
  font-size: 2em;
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4); 
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4);
}

.Plateau {
  grid-area: 9 / 1 / 12 / 4;
  border-radius: 0px 0px 25px 25px;
  background-color: var(--rsp_mediumblue);
  color: white;
  font-size: 2em;
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4); 
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4);
}

.Peep {
  grid-area: 12 / 1 / 15 / 4;
  border-radius: 0px 0px 25px 25px;
  background-color: var(--rsp_mediumblue);
  color: white;
  font-size: 2em;
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4); 
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4);
}

.Dynamic {
  grid-area: 13 / 4 / 15 / 6;
  border-radius: 0px 0px 25px 25px;
  background-color: var(--rsp_mediumblue);
  color: white;
  font-size: 2em;
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4); 
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4);
}

.Static {
  grid-area: 13 / 6 / 15 / 8;
  border-radius: 0px 0px 25px 25px;
  background-color: var(--rsp_mediumblue);
  color: white;
  font-size: 2em;
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4); 
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4);
}

.Compliance {
  grid-area: 12 / 4 / 13 / 8;
  border-style: solid;
  border-color: var(--rsp_darkblue);
  border-width: thick;
  color: var(--rsp_darkblue);
  background-color: var(--rsp_lightblue);
  font-size: 2.5em;
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4); 
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4);
}

.MBPM {
  grid-area: 10 / 4 / 12 / 6;
  border-radius: 0px 0px 25px 25px;
  background-color: var(--rsp_mediumblue);
  color: white;
  font-size: 2em;
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4); 
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4);
}

.SBPM {
  grid-area: 10 / 6 / 12 / 8;
  border-radius: 0px 0px 25px 25px;
  color: white;
  background-color: var(--rsp_mediumblue);
  font-size: 2em;
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4); 
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4);
}

.BPM {
  grid-area: 9 / 4 / 10 / 8;
  border-style: solid;
  border-color: var(--rsp_darkblue);
  border-width: thick;
  background-color: var(--rsp_lightblue);
  color: var(--rsp_darkblue);
  font-size: 2.5em;
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4); 
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4);
}

.Tidal {
  grid-area: 7 / 4 / 9 / 6;
  border-radius: 0px 0px 25px 25px;
  background-color: var(--rsp_mediumblue);
  color: white;
  font-size: 2em;
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4); 
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4);
}

.Minute {
  grid-area: 7 / 6 / 9 / 8;
  border-radius: 0px 0px 25px 25px;
  background-color: var(--rsp_mediumblue);
  color: white;
  font-size: 2em;
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4); 
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4);
}

.Volume {
  grid-area: 6 / 4 / 7 / 8;
  color: var(--rsp_darkblue);
  border-style: solid;
  border-color: var(--rsp_darkblue);
  border-width: thick;
  background-color: var(--rsp_lightblue);
  font-size: 2.5em;
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4); 
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4);
}

.Environment {
  grid-area: 5 / 9 / 6 / 12;
  background-color: var(--rsp_darkblue);
  color: white;
  font-size: 2.5em;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4); 
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4);
}

.Temp {
  grid-area: 6 / 9 / 9 / 12;
  border-style: solid;
  border-color: var(--rsp_darkblue);
  border-width: thick;
  color: white;
  font-size: 2em;
  background-color: var(--rsp_lightblue);
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4); 
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4);
}

.Altitude {
  grid-area: 9 / 9 / 12 / 12;
  border-style: solid;
  border-color: var(--rsp_darkblue);
  border-width: thick;
  color: white;
  font-size: 2em;
  background-color: var(--rsp_lightblue);
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4); 
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4);
}

.Breath {
  grid-area: 12 / 9 / 15 / 12;
  border-style: solid;
  border-color: var(--rsp_darkblue);
  border-width: thick;
  color: var(--rsp_darkblue);
  background-color: var(--rsp_lightblue);
  font-size: 2em;
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4); 
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4);
}

.Parameters {
  grid-area: 5 / 13 / 6 / 19;
  color: white;
  background-color: var(--rsp_darkblue);
  font-size: 2.5em;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4); 
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4);
}

.Mode {
  grid-area: 6 / 13 / 8 / 16;
  border-radius: 0px 0px 25px 25px;
  color: white;
  background-color: var(--rsp_mediumblue);
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4); 
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4);
}

.VT {
  grid-area: 8 / 13 / 10 / 16;
  border-radius: 0px 0px 25px 25px;
  color: white;
  background-color: var(--rsp_mediumblue);
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4); 
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4);
}

.RR {
  grid-area: 10 / 13 / 12 / 16;
  border-radius: 0px 0px 25px 25px;
  color: white;
  background-color: var(--rsp_mediumblue);
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4); 
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4);
}

.IE {
  grid-area: 12 / 13 / 14 / 16;
  border-radius: 0px 0px 25px 25px;
  color: white;
  background-color: var(--rsp_mediumblue);
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4); 
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4);
}

.IPeep {
  grid-area: 6 / 16 / 8 / 19;
  border-radius: 0px 0px 25px 25px;
  color: white;
  background-color: var(--rsp_mediumblue);
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4); 
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4);
}

.PMAX {
  grid-area: 8 / 16 / 10 / 19;
  border-radius: 0px 0px 25px 25px;
  color: white;
  background-color: var(--rsp_mediumblue);
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4); 
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4);
}

.PS {
  grid-area: 10 / 16 / 12 / 19;
  border-radius: 0px 0px 25px 25px;
  color: white;
  background-color: var(--rsp_mediumblue);
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4); 
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4);
}

.TPS {
  grid-area: 12 / 16 / 14 / 19;
  border-radius: 0px 0px 25px 25px;
  color: white;
  background-color: var(--rsp_mediumblue);
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4); 
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4);
}

.Pending {
  grid-area: 14 / 13 / 15 / 19;
  border-radius: 25px;
  background-color: var(--rsp_mediumblue);
  color: white;
  font-size: 2.5em;
  font-weight: bold;
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4); 
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4);
}

.Logo {
  grid-area: 15 / 1 / 17 / 19;
  border-radius: 25px;
  background-color: var(--rsp_darkblue);
  color: white;
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4); 
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4);
}

.ChartWrapper {
  background-color:var(--rsp_lightblue); 
  border-color: var(--rsp_mediumblue); 
  -webkit-box-shadow: 15px 15px 16px 14px rgba(0,0,0,0.4); 
  box-shadow: 15px 15px 16px 14px rgba(0,0,0,0.4);
  min-height: 750px;
  margin-bottom: 40px;
}

.ChartCanvas {
  margin-bottom:50px; 
  margin-left:10px;
  margin-right:10px;
}
