/*
// ////////////////////////////////////////////////////
// Author: Sunil Nanda
// ////////////////////////////////////////////////////
*/
.sidebarColumn {
  width: 30rem;
  background-color: var(--rsp_blue);
  margin-top: 1rem;
  margin-bottom: 0rem;
  padding-bottom: 3rem;
  margin-left: -0.5rem;
}

.sidebar {
  width: 25rem;
  font-size: 1.5rem;
  font-family: verdana;
  margin-left: 2rem;
}

.sidebar div {
  padding: 0;
  font-size: 1.75rem;
  display: block;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin-top: 1rem;
}

.dashboard-pane {
  margin-top: -110rem;
  margin-left: 40rem;
  margin-right: 2rem;
}

.sidebarButton {
  align-items: center;
  appearance: none;
  background-color: var(--rsp_mediumblue);
  color: white;
  border-radius: 6px;
  border-width: 0;
  box-shadow: var(--rsp_blue) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: white;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding: 0.7rem 0.7rem;
  margin: 0.3rem 0.3rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 2.1rem;
  width: 20rem;
}

.sidebarButton:focus:not([disabled]) {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.sidebarButton:hover:not([disabled]) {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.sidebarButton:active:not([disabled]) {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.sidebarButton:disabled,
.sidebarButton[disabled]{
  background-color: white;
  color: grey;
  cursor: not-allowed;
  pointer-events: all !important;
}

/* A row of equal columns that sits next to each other */
.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 2rem;
}

span {
  height: 1rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.shadowDiv5 {
  -webkit-box-shadow: 0.31rem 0.31rem 0.31rem 0.31rem rgba(0, 0, 0, 0.4);
  box-shadow: 0.31rem 0.31rem 0.31rem 0.31rem rgba(0, 0, 0, 0.4);
}

.shadowDiv10 {
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
  box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
}

table,
tr {
  border-bottom: 1px solid white;
  border-collapse: collapse;
}

.statsTableStyle td {
  padding: 0 0.31rem 0 0;
  /* Only right padding*/
}

