/*
// ////////////////////////////////////////////////////
// Author: Sunil Nanda
// ////////////////////////////////////////////////////
*/
.sidebarColumn {
  width: 25rem;
  height: 100%;
  position: absolute;
  background-color: var(--rsp_mediumblue);
  margin-top:-0.5rem;
  margin-bottom:0;
  margin-left:-0.5rem;
}

.sidebar {
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 20rem;
  position: absolute;
  font-size: 1.5rem;
  font-family: verdana;
  margin-left: 2rem;
}

.sidebar div {
  padding: 0;
  font-size: 1.75rem;
  display: block;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin-top: 1rem;
}

.dashboard-pane {
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;

  margin-left: 32rem;
  margin-right: 2rem;
}

.sidebarButton {
  background-color: var(--rsp_blue);
  border: white;
  color: var(--rsp_darkblue);
  padding: 0.5rem 0.7rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0.3rem 0.3rem;
  cursor: pointer;
  font-size: 1.75rem;
  font-weight: bold;
  border-radius: 0.6rem;
  width: 18rem;
  opacity: 0.8;
}

.sidebarButton:hover {
  opacity: 1;
}

.sidebarButton:active {
  background-color: var(--rsp_mediumblue);
  box-shadow: 0 0.25em var(--rsp_lightblue);
  transform: translateY(0.375rem);
}

.sidebarButtonShadow {
  background-color: var(--rsp_mediumblue);
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0,0,0,0.4); 
  box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0,0,0,0.4);
  border: white;
  color: white;
  padding: 0.5rem 0.7rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0.3rem 0.3rem;
  cursor: pointer;
  font-size: 1.8rem;
  border-radius: 0.6rem;
  width: 15rem;
  opacity: 0.8;
}

.sidebarButtonShadow:hover {
  opacity: 1;
}

.sidebarButtonShadow:active {
  background-color: var(--rsp_green);
  box-shadow: 0 0.375rem var(--rsp_lightblue);
  transform: translateY(0.375rem);
}

/* A row of equal columns that sits next to each other */
.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 20rem;
}

span {
  height: 1rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.noUi-tooltip {
  display: none;
}

.noUi-active .noUi-tooltip {
  display: block;
}

.shadowDiv5 {
  -webkit-box-shadow: 0.31rem 0.31rem 0.31rem 0.31rem rgba(0,0,0,0.4); 
  box-shadow: 0.31rem 0.31rem 0.31rem 0.31rem rgba(0,0,0,0.4);
}

.shadowDiv10 {
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0,0,0,0.4); 
  box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0,0,0,0.4);
}


table,
tr {
  border-bottom: 1px solid white;
  border-collapse: collapse;
}

.statsTableStyle td {
  padding: 0 0.31rem 0 0;
  /* Only right padding*/
}


