:root {
  --chartBodyHeight: 600px;
  --chartMenuIndent: 40px;
  --chartMenuFontSize: 30px;
  --chartMenuBannerHeight: 50px;
  --chartMenuIconSize: 50px;

  --shapeBodyHeight: 600px;
  --shapeMenuIndent: 40px;
  --shapeMenuFontSize: 30px;
  --shapeMenuBannerHeight: 50px;
  --shapeMenuIconSize: 50px;

  --columnPadding: 2rem;
  --sidebarBtnHeight: 50px;
  --sidebarBtnWidth: 20rem;
  --sidebarBtnFontSize: 2.1rem;
  --sidebarBtnPadding: 0.7rem 0.7rem;
  --sidebarBtnMargin: 0.3rem 0.3rem;
  --swalFontSize: 1.6rem;
  --swalTextFontSize: 1.6em;
}

