/*
// ////////////////////////////////////////////////////
// Author: Sunil Nanda
// ////////////////////////////////////////////////////
*/

:root {
  --rsp_darkblue: 	#0D3E51;
  --rsp_blue: 		#3C99DC;
  --rsp_lightblue: 	#D5F3FE;
  --rsp_darkgreen: 	#1E453E;
  --rsp_green: 		#306844;
  --rsp_yellow: 	#E7C800;
  --rsp_orange: 	#E95F0A;
  --rsp_darkred: 	#B22222;
}
