/*
// ////////////////////////////////////////////////////
// Author: Sunil Nanda
// ////////////////////////////////////////////////////
*/
.sidebarColumn {
  width: 280px;
  height: 100%;
  position: absolute;
  background-color: var(--rsp_mediumblue);
  margin-top:0;
  margin-bottom:0;
  margin-left:0;
}

.sidebar {
  border-radius: 25px;
  width: 240px;
  font-size: 16px;
  font-family: verdana;
  margin-left: 20px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.sidebar div {
  padding: 4px;
  font-size: 20px;
  display: block;
}

.body-pane {
  border-radius: 25px;
  margin-left: 300px;
  font-size: 20px;
  font-family: verdana;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
}

.dbTableButton {
  background-color: var(--rsp_mediumblue);
  border: white;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 6px 6px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 10px;
  opacity: 0.8;
}

.dbTableButton:hover {
  opacity: 1;
}

.dbTableButton:active {
  background-color: var(--rsp_blue);
  box-shadow: 0 6px var(--rsp_lightblue);
  transform: translateY(6px);
}

.button {
  background-color: var(--rsp_mediumblue);
  border: white;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 10px;
  opacity: 0.8;
}

.button:hover {
  opacity: 1;
}

.button:active {
  background-color: var(--rsp_darkblue);
  box-shadow: 0 6px var(--rsp_lightblue);
  transform: translateY(6px);
}

.sidebarButton {
  background-color: var(--rsp_blue);
  border: white;
  color: var(--rsp_darkblue);
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  width: 210px;
  opacity: 0.8;
}

.sidebarButton:hover {
  opacity: 1;
}

.sidebarButton:active {
  background-color: var(--rsp_green);
  box-shadow: 0 6px var(--rsp_lightblue);
  transform: translateY(6px);
}

.sidebarButtonShadow {
  -webkit-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.4); 
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.4);
  background-color: var(--rsp_mediumblue);
  border: white;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 10px;
  width: 210px;
  opacity: 0.8;
}

.sidebarButtonShadow:hover {
  opacity: 1;
}

.sidebarButtonShadow:active {
  background-color: var(--rsp_green);
  box-shadow: 0 6px var(--rsp_lightblue);
  transform: translateY(6px);
}

/* A row of equal columns that sits next to each other */
.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px;
}

table,
tr {
  border-bottom: 1px solid white;
  border-collapse: collapse;
}

.dbTableStyle td {
  padding: 0 5px 0 0;
}

.statsTableStyle td {
  padding: 0 5px 0 0;
  /* Only right padding*/
}

span {
  height: 1rem;
  margin-right: 0px;
  margin-left: 0px;
  border-right: 0px solid white;
}

.noUi-tooltip {
  display: none;
}

.noUi-active .noUi-tooltip {
  display: block;
}

.chartContainer {
  border: 10px solid #CCCCCC;
  box-sizing: border-box;
  height: 1200px;
}

.shadowDiv5 {
  -webkit-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.4); 
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.4);
}

.shadowDiv10 {
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4); 
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4);
}

