/*
// ////////////////////////////////////////////////////
// Author: Sunil Nanda
// ////////////////////////////////////////////////////
*/

.chartContainer {
  margin-top: 20px;
}

.chartBanner {
  background-color: var(--rsp_darkblue);
  height:40px;
  display: flex; 
  justify-content:flex-end;
}

.chartEditMenu {
  display: inline-block; 
  position: relative;
  float: right;
  border-style: solid;
  border-color:var(--rsp_blue);
  opacity:1;
  z-index: 2;
}

.chartEditMenuBanner {
  background-color: var(--rsp_darkblue);
  display: flex; 
  justify-content:flex-end;
  height:40px;
}

.chartBody {
  background-color: var(--rsp_lightblue);
  height: 400px;
}

