/*
// ////////////////////////////////////////////////////
// Author: Sunil Nanda
// ////////////////////////////////////////////////////
*/

.chartIndentDiv {
  margin-left: var(--chartMenuIndent);
}

.chartContainer {
  margin-top: 20px;
  font-family: verdana;
}

.chartBanner {
  background-color: var(--rsp_darkblue);
  height:var(--chartMenuBannerHeight);
  display: flex; 
  justify-content:flex-end;
}

.chartEditMenuTitle {
  font-size:var(--chartMenuFontSize);
}

.chartEditMenu {
  display: inline-block; 
  position: relative;
  float: right;
  border-style: solid;
  border-color:var(--rsp_blue);
  opacity:1;
  z-index: 2;
  font-size:var(--chartMenuFontSize);
}

.chartEditMenuBanner {
  background-color: var(--rsp_darkblue);
  display: flex; 
  justify-content:flex-end;
  height:var(--chartMenuBannerHeight);
}

.chartBody {
  background-color: var(--rsp_lightblue);
  height: var(--chartBodyHeight);
}

