.colorLegend {
 list-style: none; 
 font-size: var(--colorLegendFontSize);
}

.colorLegend li {
 float: left; 
 margin-right: 20px; 
}

.colorLegend span {
 border: 1px solid #ccc; 
 float: left; 
 width: var(--colorLegendSize); 
 height: var(--colorLegendSize); 
 margin: 20px; 
}

/* your colors */
.colorLegend .MandatoryVC {
 background-color: var(--colorMandatoryVC); 
}

.colorLegend .SpontaneousVC {
 background-color: var(--colorSpontaneousVC); 
}

.colorLegend .SpontaneousPS {
 background-color: var(--colorSpontaneousPS); 
}

.colorLegend .Maintenance {
 background-color: var(--colorMaintenance); 
}

.colorLegend .VCError {
 background-color: var(--colorVCError); 
}

.colorLegend .PSError {
 background-color: var(--colorPSError); 
}

.colorLegend .Abnormal {
 background-color: var(--colorAbnormal); 
}

