/*
// ////////////////////////////////////////////////////
// Author: Sunil Nanda
// ////////////////////////////////////////////////////
*/

:root {
  --rsp_darkblue: 	#0D3E51;
  --rsp_mediumblue: 	#2C94BC;
  --rsp_blue: 		#71C7EC;
  --rsp_lightblue: 	#D5F3FE;
  --rsp_darkgreen: 	#1E453E;
  --rsp_green: 		#306844;
  --rsp_lightgreen:	#58D68D;
  --rsp_yellow: 	#E7C800;
  --rsp_orange: 	#E95F0A;
  --rsp_darkred: 	#B22222;

  --colorMandatoryVC:   #FCF3CF; 
  --colorSpontaneousVC: #D6EAF8; 
  --colorSpontaneousPS: #82E0AA; 
  --colorMaintenance:   #FBFCFC; 
  --colorError:         #EC7063; 
  --colorAbnormal:      #F39C12; 
}
