/*
// ////////////////////////////////////////////////////
// Author: Sunil Nanda
// ////////////////////////////////////////////////////
*/

:root {
  --rsp_darkblue: 	#0D3E51;
  --rsp_mediumblue: #2C94BC;
  --rsp_blue: 		#71C7EC;
  --rsp_lightblue: 	#D5F3FE;
  --rsp_brightblue: #0096FF;
  --rsp_darkgreen: 	#1E453E;
  --rsp_green: 		#306844;
  --rsp_lightgreen:	#58D68D;
  --rsp_brightgreen:#0FFF50;
  --rsp_yellow: 	#E7C800;
  --rsp_orange: 	#E95F0A;
  --rsp_darkred: 	#B22222;
  --rsp_modal: 	    #708090;

  --colorMandatoryVC:             #E4FDE1; 
  --colorSpontaneousVC:           #C6EDC3; 
  --colorSpontaneousPS:           #A7DCA5; 
  --colorMandatoryVCMaint:        #FFFDD0; 
  --colorSpontaneousVCMaint:      #FFFF8F; 
  --colorSpontaneousPSMaint:      #FFEA00; 
  --colorAbnormal:                #FFC370; 
  --colorError:                   #FD7272; 
}
