.wavesLegendDiv {
   font-size: var(--colorLegendFontSize);
   color: blue;
}

.wavesLegendCategory {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 2px solid black; 
}

.waveLegend {
  float: left;
  border: 2px solid black; 
}

.waveLegendText {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
