body {
  margin: 0;
  padding: 0;
  background: #EEE;
  font-family: verdana;
	font-size: 1.1rem;
}

.wrapTiles {
  margin: 0rem;
}

.activeTilesCls {
  margin: 0.6rem;
}

.dormantTilesCls {
  margin: 0.6rem;
}

.tile {
  float: left;
  position: relative;
  width: 16rem;
  margin: 0.3rem;
}

.tileContent {
  margin: 0.5rem;
	margin-top:-1rem;
	height:16.5rem;
}

.tileUid {
	font-size: 1rem;
  background: #000;
  background: rgba(0, 0, 0, 0.5);
  color: #FFF;
  text-align: center;
	padding: 0.5rem;
}

.statusCaption {
	background-color: darkgray;
	color: black;
}

.breathCaption {
	font-weight: normal;
  text-shadow: 1px 3px 3px grey;
	color: white;
}

.durationCaption {
	font-weight: normal;
	background-color: darkgray;
	color: white;
}

.tileName {
	color: white;
	font-weight: bold;
	font-size: 1.2rem;
}

.breathNum {
	color: white;
	font-weight: bold;
	font-size: 1.8rem;
  text-shadow: 1px 3px 3px grey;
	margin-top:-0.5rem;
	margin-bottom:-1rem;
}

.duration {
	color: white;
	font-weight: bold;
	font-size: 1.8rem;
  text-shadow: 1px 3px 3px grey;
	margin-top:-0.5rem;
	margin-bottom:-1rem;
}

.active {
	font-weight: bold;
	font-size: 1rem;
	display: none;
}

.inactive {
	font-weight: bold;
	font-size: 2rem;
	display: block;
}

.Alert {
	float: right;
}

.State {
	float: left;
}

.StateContent {
	display: block;
}

.ParamContentNonPSV {
	display: none;
}

.ParamContentPSV {
	display: none;
}

.ParamRow {
	clear: both;
}

.ParamFloatLeft {
	float: left;
	border-width: 0.1rem;
	border-style: solid;
	border-color: white;
	width: 42%;
}

.ParamFloatRight {
	float: right;
	border-width: 0.1rem;
	border-style: solid;
	border-color: white;
	width: 42%;
}

.ParamName {
	color: white;
	background-color: gray;
	margin-top:0rem;
}

.ParamValue {
	font-weight: bold;
  text-shadow: 1px 3px 3px grey;
	color: white;
	font-size:1rem;
}

.PsvModeValue {
	margin-top:-0.7rem;
	margin-bottom:0.5rem;
	font-weight: bold;
  text-shadow: 1px 3px 3px grey;
	color: white;
	font-size:1rem;
}

.AudioControl {
	height: 2.5rem;
	width: 32rem;
  margin: 0.6rem;
	font-weight: bold;
	font-size: 1.4rem;
	color: white;
  background-color: var(--rsp_darkblue);
}

.activeTilesCls {
  background-color: lightgreen;
	width:auto;
}

.dormantTilesCls {
  background-color: antiquewhite;
}

/* TileMenu Content (Hidden by Default) */
.tileMenu {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 4px 4px 4px 4px var(--rsp_darkblue);
  z-index: 10;
}

/* Show the tileMenu menu on hover */
.tile:hover .tileMenu {display: block;}
