/*
// ////////////////////////////////////////////////////
// Author: Sunil Nanda
// ////////////////////////////////////////////////////
*/

hr {
	border-style: solid;
	border-width: 0.1rem;
}

.button {
  align-items: center;
  appearance: none;
  background-color: var(--rsp_mediumblue);
  color: white;
  border-radius: 0.4rem;
  border-width: 0;
  box-shadow: var(--rsp_blue) 0 0.2rem 0.2rem,rgba(45, 35, 66, 0.3) 0 0.3rem 0.3rem -0.2rem,#D6D6E7 0 -0.2rem 0 inset;
  box-sizing: white;
  cursor: pointer;
  display: inline-flex;
  height: 2.5rem;
  justify-content: center;
  overflow: hidden;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  margin: 0.6rem 0.2rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 1.2rem;
}

.button:focus:not([disabled]) {
  box-shadow: #D6D6E7 0 0 0 0.2rem inset, rgba(45, 35, 66, 0.4) 0 0.2rem 0.2rem, rgba(45, 35, 66, 0.3) 0 0.3rem 0.3rem -0.2rem, #D6D6E7 0 -0.2rem 0 inset;
}

.button:hover:not([disabled]) {
	font-weight: bold;
  box-shadow: rgba(45, 35, 66, 0.4) 0 0.2rem 0.3rem, rgba(45, 35, 66, 0.3) 0 0.3rem 0.3rem -0.2rem, #D6D6E7 0 -0.2rem 0 inset;
  transform: translateY(-0.2rem);
}

.button:active:not([disabled]) {
	font-weight: bold;
  box-shadow: #D6D6E7 0 0.2rem 0.3rem inset;
  transform: translateY(0.2rem);
}

.button:disabled,
.button[disabled]{
  color: grey;
  cursor: not-allowed;
  pointer-events: all !important;
}

.dontShowButton {
  appearance: none;
  text-decoration: underline;
  background-color: transparent;
  color: white;
  border-width: 0;
  cursor: pointer;
  display: inline-flex;
  line-height: 1;
  position: relative;
  cursor: pointer;
}

.dontShowButton:focus:not([disabled]) {
}

.dontShowButton:hover:not([disabled]) {
  transform: translateY(-0.2rem);
  color: var(--rsp_blue);
	font-weight: bold;
}

.dontShowButton:active:not([disabled]) {
  box-shadow: #D6D6E7 0 2rem 0.4rem outset;
  transform: translateY(0.2rem);
  color: var(--rsp_mediumblue);
	font-weight: bold;
}

.dontShowButton:disabled,
.dontShowButton[disabled]{
  color: grey;
  cursor: not-allowed;
  pointer-events: all !important;
}

/* A row of equal columns that sits next to each other */
.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: var(--columnPadding);
}

table,
tr {
  border-bottom: 0.1rem solid white;
  border-collapse: collapse;
}

.statsTableStyle td {
  padding: 0 0.3rem 0 0;
  /* Only right padding*/
}

.breathRangeTable {
}

.breathRangeTable th {
	border: 0.2rem solid white;
	border-collapse: collapse;
	padding: 0.3rem;
  background-color: var(--rsp_darkblue);
	font-size: 1.2rem;
}

.breathRangeTable td {
	border: 0.2rem solid white;
	border-collapse: collapse;
	padding: 0.3rem;
  background-color: var(--rsp_mediumblue);
	font-size: 1.2rem;
}

.shadowDiv5 {
  -webkit-box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.4);
  box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.4);
}

.shadowDiv10 {
  -webkit-box-shadow: 0.6rem 0.6rem 0.6rem 0.6rem rgba(0, 0, 0, 0.4);
  box-shadow: 0.6rem 0.6rem 0.6rem 0.6rem rgba(0, 0, 0, 0.4);
}

.popupClassCenter {
  width: 40rem;
  height: 20rem;
  background-color: var(--rsp_modal);
  color: white;

  font-size: 2.5rem;
  font-family: verdana;
  padding: 0.6rem;
  z-index: 10;
  opacity: 1;

  /* for vertical center */
  position:fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);

  -webkit-box-shadow: 0.35rem 0.35rem 0.35rem 0.35rem rgba(0, 0, 0, 0.5);
  box-shadow: 0.35rem 0.35rem 0.35rem 0.35rem rgba(0, 0, 0, 0.5);

  display:none;
}

.popupClassTopLeft {
  width: 40rem;
  height: 20rem;
  background-color: var(--rsp_modal);
  color: white;

  font-size: 2.5rem;
  font-family: verdana;
  padding: 0.6rem;
  z-index: 10;
  opacity: 1;

  position:absolute;
	top: 1rem;
	left:1rem;

  -webkit-box-shadow: 0.35rem 0.35rem 0.35rem 0.35rem rgba(0, 0, 0, 0.5);
  box-shadow: 0.35rem 0.35rem 0.35rem 0.35rem rgba(0, 0, 0, 0.5);

  display:none;
}

.popupClassCenterPersistent {
  width: 40rem;
  height: 20rem;
  background-color: var(--rsp_modal);
  color: white;

  font-size: 2.5rem;
  font-family: verdana;
  padding: 0.6rem;
  z-index: 9;
  opacity: 1;

  /* for vertical center */
  position:fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);

  -webkit-box-shadow: 0.35rem 0.35rem 0.35rem 0.35rem rgba(0, 0, 0, 0.5);
  box-shadow: 0.35rem 0.35rem 0.35rem 0.35rem rgba(0, 0, 0, 0.5);

  display:none;
}

.swal2-popup {
  font-size: var(--swalTextFontSize) !important;
  font-family: 'Verdana' !important;
}

.menuCheckBox {
	width: 1rem;
	height: 1rem;
}

.audioSlider {
  -webkit-appearance: none;
	width: 6rem;
  height : 1rem;
}

/* --------------------------- webkit browsers */
.audioSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: var(--rsp_darkblue);
	width: 1rem;
  height : 1rem;
  overflow: visible;
  cursor: pointer;
}
/* -------------------------- Firefox */
.audioSlider::-moz-range-thumb { 
  -moz-appearance: none;
  background-color: var(--rsp_darkblue);
	width: 1rem;
  height : 1rem;
  overflow: visible;
  cursor: pointer;
}
/* Remove dotted outline from range input element focused in Firefox */
.audioSlider::-moz-focus-outer { border: 0; }


input[type="range"]::-webkit-slider-thumb (
    -webkit-appearance: none;
    appearance: none;
    height: 0.5rem;
    width: 0.5rem;
)

input[type="select"] {
	outline:none;
	border-style: none;
}

input[type="select"]:focus {
	outline:none;
	border-style: none;
}

input[type="select"]:active {
	outline:none;
	border-style: none;
}

