/*
// ////////////////////////////////////////////////////
// Author: Sunil Nanda
// ////////////////////////////////////////////////////
*/

.button {
  align-items: center;
  appearance: none;
  background-color: var(--rsp_mediumblue);
  color: white;
  border-radius: 0.4rem;
  border-width: 0;
  box-shadow: var(--rsp_blue) 0 0.2rem 0.2rem,rgba(45, 35, 66, 0.3) 0 0.5rem 0.8rem -0.2rem,#D6D6E7 0 -0.2rem 0 inset;
  box-sizing: white;
  cursor: pointer;
  display: inline-flex;
  height: 2.5rem;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  margin: 10px 4px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 22px;
  cursor: pointer;
}

.button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button:hover {
	font-weight: bold;
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button:active {
	font-weight: bold;
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

/* A row of equal columns that sits next to each other */
.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: var(--columnPadding);
}

table,
tr {
  border-bottom: 1px solid white;
  border-collapse: collapse;
}

/*
span {
  height: 1rem;
  margin-right: 0px;
  margin-left: 0px;
  border-right: 0px solid white;
}
*/

.statsTableStyle td {
  padding: 0 0.3rem 0 0;
  /* Only right padding*/
}

.shadowDiv5 {
  -webkit-box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.4);
  box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.4);
}

.shadowDiv10 {
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.popupClass {
  width: 800px;
  height: 300px;
  background-color: var(--rsp_modal);
  color: white;

  font-size: 2.5rem;
  font-family: verdana;
  padding: 10px;
  z-index: 10;
  opacity: 1;

  /* for vertical center */
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);

  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 1rem 0.8rem;

  display:none;
}

.popupClassPersistent {
  width: 40rem;
  height: 20rem;
  background-color: var(--rsp_modal);
  color: white;

  font-size: 2.5rem;
  font-family: verdana;
  padding: 0.6rem;
  z-index: 9;
  opacity: 1;

  /* for vertical center */
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);

  box-shadow: rgba(0, 0, 0, 0.3) 0rem 1.2rem 2.4rem, rgba(0, 0, 0, 0.22) 0rem 1rem 0.8rem;

  display:none;
}

.swal2-popup {
  font-size: var(--swalFontSize) !important;
  font-family: 'Verdana' !important;
}


