/*
// ////////////////////////////////////////////////////
// Author: Sunil Nanda
// ////////////////////////////////////////////////////
*/

.iconButton {
  background-color: white;
	border-width: 0.2rem;
	vertical-align: middle;
  color: var(--rsp_darkblue);
  cursor: pointer;
  opacity: 0.7;
  margin: 0.3rem;
  opacity:1; 
  cursor: pointer;
}

.iconButton:hover{
  background-color: var(--rsp_brightgreen);
  border-color: var(--rsp_brightgreen);
  opacity:1; 
}

.iconButton:active{
  background-color: var(--rsp_mediumgreen);
  border-color: var(--rsp_mediumgreen);
  box-shadow: 0 0.4rem white;
  transform: translateY(0.2rem);
}

.editIconButton {
}

