.paramSummary {
  margin-top: -1.5rem;
}

.paramSummarySection {
  background-color: white;
  color: var(--rsp_darkblue);
  font-size: 1.2rem;
  text-align: center;
  padding: 0.5rem;
  margin-right: 0.5rem;
  margin-top: -0.5rem;
}

.paramSummaryState {
  width: 6rem;
  height: 6rem;
  margin-right: 0.5rem;
  color: white;
  float: left;
}

.paramSummarySetting {
  width: 5.5rem;
  height: 5.5rem;
  margin-right: 0.5rem;
  padding: 0.5rem;
  background-color: var(--rsp_mediumblue);
  color: white;
  float: left;
}

.paramSummaryMeasured {
  width: 5.5rem;
  height: 5.5rem;
  margin-right: 0.5rem;
  padding: 0.5rem;
  background-color: var(--rsp_green);
  color: white;
  float: left;
}

.paramSummarySettingHeading {
  color: white;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 0rem;
  background-color: var(--rsp_darkblue);
}

.paramSummaryMeasuredHeading {
  color: white;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 0rem;
  color: var(--rsp_brightgreen);
  background-color: var(--rsp_darkgreen);
}

.paramSummarySettingData {
  color: white;
  font-size: 1.6rem;
  text-align: center;
  margin-top: -0.5rem;
}

.paramSummaryMeasuredData {
  color: var(--rsp_brightgreen);
  font-size: 1.6rem;
  text-align: center;
  margin-top: -0.5rem;
}

.paramSummaryMeasuredData {
  color: var(--rsp_brightgreen);
  font-size: 1.6rem;
  text-align: center;
  margin-top: -0.5rem;
}

.paramSummarySettingUnits {
  color: white;
  font-size: 0.85rem;
  text-align: center;
  margin-top: -0.7rem;
  background-color: var(--rsp_darkblue);
}

.paramSummaryMeasuredUnits {
  color: var(--rsp_brightgreen);
  font-size: 0.85rem;
  text-align: center;
  margin-top: -0.7rem;
  background-color: var(--rsp_darkgreen);
}

.paramSummarySpace {
  width: 1rem;
  height: 6rem;
  background-color: "white";
  color: white;
  float: left;
}

