.opExprLi {
	margin: 0.2rem;
}

.opExprUl {
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
	margin-left: 0rem;
	margin-right: 0.2rem;
	padding-left: 1.75rem;
	border-left: groove var(--rsp_mediumblue);
}

.opExprSpan {
	font-size: 1.6rem;
	font-weight: bold;
}

.leafExprLi {
	font-size: 1rem;
  font-style: italic;
	margin: 0.2rem;
}

.leafExprSpan {
}

.searchExprCls {
}

.paramGroupCls {
	font-size: 2.3rem;
	appearance: none;
	width: 22;
	border: none;
  text-align:center;
	margin-left: 0.5rem;
	background-color: var(--rsp_mediumblue);
	color: white;
}

.paramSelectCls {
	font-size: 1.8rem;
	appearance: none;
	width: 22;
	border: none;
  text-align:center;
	cursor: pointer;
	margin-left: 0.5rem;
	background-color: white;
	color: var(--rsp_darkblue);
}

.unitsSelectCls {
	font-size: 1.4rem;
	appearance: none;
	margin-left: 1rem;
	color: var(--rsp_darkblue);
	display: inline;
}

.leafOpSelectCls {
	font-size: 1.8rem;
	appearance: none;
	width: 4rem;
	border: none;
	margin: 0.5rem;
	text-align: center;
	cursor: pointer;
}

.constEnumSelectCls {
	font-size: 1.8rem;
	appearance: none;
	width: 16rem;
	border: none;
  text-align:center;
	cursor: pointer;
}

.constNumberSelectCls {
	font-size: 1.8rem;
	width: 16rem;
	border: none;
  text-align:center;
	cursor: pointer;
}

.constTextSelectCls {
	font-size: 1.8rem;
	width: 16rem;
	border: none;
  text-align:center;
}

.exprOpSelectCls {
	font-size: 1.8rem;
	appearance: none;
	width: 5rem;
  text-align:center;
	background-color: var(--rsp_mediumblue);
	color: white;
	margin-left: -1.75rem;
	margin-bottom: 0.5rem;
	border: none;
	cursor: pointer;
}

.searchExprCls ul {
	list-style-type: none;
	background-color: var(--rsp_lightblue);
	color: var(--rsp_darkblue);
	font-size:1.6rem;
}

.exprStringCls {
	font-size: 1.4rem;
	font-style: normal;
	font-weight: normal;
	margin-top:-1.5rem;
	margin-bottom:-0.5rem;
	color: white;
}

.exprContainerCls {
	font-size: 1rem;
	overflow: auto;
}

.exprBoundingBoxCls {
	font-size: 1rem;
	padding: 0.5rem;
	background-color: var(--rsp_lightblue);
	color: var(--rsp_darkblue);
}

.exprMenuBtn {
  font-size: 1.8rem;
  border: none;
  cursor: pointer;
}

.exprMenuImgBtn {
	width: 1.6rem;
	height: 1.6rem;
  border: none;
  cursor: pointer;
}

.exprMenu {
  position: absolute;
  display: block;
}

.exprMenu-content {
  display: none;
  position: absolute;
  background-color: var(--rsp_darkblue);
	color: white;
  min-width: 7rem;
  z-index: 20;
}

.exprMenu:hover .exprMenu-content {
  display: block;
}

.exprMenu:hover .exprMenuImgBtn {
  background-color: var(--rsp_blue);
}

.exprMenuActionCls {
	font-style: normal;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	cursor: pointer;
}

