.searchCls {
}

.searchResultsCaptionCls {
  background-color: var(--rsp_darkblue);
	color: white;
	padding: 0.5rem;
}

.searchResultsTblCls {
}

.searchResultsTblTheadCls {
}

.searchResultsTblTbodyCls {
}

.searchResultsCls {
}

.searchResultsTblCls th {
	border: 0.2rem solid white;
	border-collapse: collapse;
	padding: 0.3rem;
  background-color: var(--rsp_mediumblue);
	color: white;
	font-size: 1.4rem;
	text-align: center;
}

.searchResultsTblCls td {
	border: 0.2rem solid white;
	border-collapse: collapse;
	padding: 0.3rem;
  background-color: var(--rsp_blue);
	font-size: 1.3rem;
	text-align: center;
}

.searchRangeBoxCls {
	width: 1.2rem;
	height: 1.2rem;
	accent-color: var(--rsp_green);
}

.searchMoreCls {
  background-color: var(--rsp_mediumblue) !important;
	color: white;
	border: 0.2rem solid white;
	border-collapse: collapse;
	padding: 0.3rem;
	font-size: 1.6rem !important;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}

.searchNoMoreCls {
  background-color: var(--rsp_mediumblue) !important;
	color: white;
	border: 0.2rem solid white;
	border-collapse: collapse;
	padding: 0.3rem;
	font-size: 1.3rem !important;
	font-weight: bold;
	text-align: center;
}
