.confirmBtnSwal {
  font-size:2.5rem;
  height:2.5rem;
  width:12rem;
  margin-top:0px;
  background-color:var(--rsp_darkblue);
  border-width:0;
  color:white; 
  cursor: pointer;
}

.confirmBtnSwal:hover {
  color:var(--rsp_blue);
  transform: translateY(-0.2rem);
	font-weight: bold;
}

.confirmBtnSwal:active {
  color:var(--rsp_mediumblue);
  transform: translateY(0.2rem);
	font-weight: bold;
}

