.wavesLegendDiv {
   font-size: var(--colorLegendFontSize);
   color: blue;
}

.wavesLegendCategory {
  float: left;
  margin-right: 0.7rem;
  margin-bottom: 0.7rem;
  border: 0.1rem solid black; 
}

.waveLegend {
  float: left;
  border: 0.1rem solid black; 
}

.waveLegendText {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
	font-size: 1rem;
}
