/*
// ////////////////////////////////////////////////////
// Author: Sunil Nanda
// ////////////////////////////////////////////////////
*/
.btn-pane {
  margin-right: 10px; 
  float:left;
  background-color:var(--rsp_lightblue);
}

.doc-btn {
  background-color:var(--rsp_mediumblue); 
  color:white; 
  border:none; 
  font-size:1rem;
  cursor: pointer;
}

.doc-btn:hover:not([disabled]) {
  background-color: var(--rsp_brightgreen);
  color:var(--rsp_mediumblue); 
}

.body-pane {
  font-size: 1.2rem;
}

.imgButton {
  height: 90px;
  width: 90px;
  cursor: pointer;
}

.imgButton:hover:not([disabled]) {
  background-color: var(--rsp_brightgreen);
}



