/*
// ////////////////////////////////////////////////////
// Author: Sunil Nanda
// ////////////////////////////////////////////////////
*/
.sidebarColumn {
  width: 10rem;
  padding-right: 0.4rem;
  background-color: var(--rsp_blue);
}

.sidebar {
  width: 10rem;
  font-size: 1.2rem;
}

.sidebar div {
  padding: 1rem;
  font-size: 1.2rem;
  display: block;
}

.body-pane {
  font-size: 1.2rem;
}

.imgButton {
  height: 90px;
  width: 90px;
  cursor: pointer;
}

.imgButton:hover:not([disabled]) {
  background-color: white;
}



