/*
// ////////////////////////////////////////////////////
// Author: Sunil Nanda
// ////////////////////////////////////////////////////
*/
.sidebarColumn {
  width: 10rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-right: 0.4rem;
}

.sidebar {
  width: 10rem;
  font-size: 1.2rem;
  margin-left: 1rem;
}

.sidebar div {
  padding: 1rem;
  font-size: 1.2rem;
  display: block;
}

.body-pane {
  margin-top: -440px;
  margin-left: 15rem;
  margin-right: 1rem;
  font-size: 1.2rem;
}

.imgButton {
  height: 100px;
  width: 100px;
  cursor: pointer;
}

