.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: Arial;
  background-color: var(--rsp_darkblue);
  color: white;
  padding: 1rem;
  -webkit-box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.4);
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.4);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  transform: translate(-50%, -50%);
  /* (x, y)  => position */
  -ms-transform: translate(-50%, -50%);
  /* IE 9 */
  -webkit-transform: translate(-50%, -50%);
  /* Chrome, Safari, Opera */
}

.lineButton {
  font-size:1.6rem;
  height:2.5rem;
  width:22rem;
  margin-top:0;
  background-color:var(--rsp_darkblue);
  border-width:0;
  color:white; 
  cursor: pointer;
}

.lineButton:hover {
  color:var(--rsp_blue);
  transform: translateY(-0.2rem);
	font-weight: bold;
}

.lineButton:active {
  color:var(--rsp_mediumblue);
  transform: translateY(0.2rem);
	font-weight: bold;
}


