/*
// ////////////////////////////////////////////////////
// Author: Sunil Nanda
// ////////////////////////////////////////////////////
*/
.sidebarColumn {
  width: 290px;
  background-color: var(--rsp_blue);
  padding-bottom: 20px;
  margin-top: 150px;
  margin-bottom: 0;
  margin-left: -8px;
}

.sidebar {
  border-radius: 25px;
  width: 240px;
  font-size: 16px;
  font-family: verdana;
  margin-left: 20px;
}

.sidebar div {
  padding: 4px;
  font-size: 20px;
  display: block;
}

.body-pane {
  border-radius: 25px;
  margin-top: -870px;
  margin-left: 310px;
  font-size: 20px;
  font-family: verdana;
}

.sidebarButton {
  background-color: var(--rsp_blue);
  border: white;
  color: var(--rsp_darkblue);
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  width: 210px;
  opacity: 0.8;
}

.sidebarButton:hover:not([disabled]) {
  opacity: 1;
}

.sidebarButton:active:not([disabled]) {
  background-color: var(--rsp_green);
  box-shadow: 0 6px var(--rsp_lightblue);
  transform: translateY(6px);
}

.sidebarButton:disabled,
.sidebarButton[disabled]{
  background-color: white;
  color: lightgrey;
  cursor: not-allowed;
  pointer-events: all !important;
}

.sidebarButtonShadow {
  -webkit-box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
  background-color: var(--rsp_mediumblue);
  border: white;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 10px;
  width: 210px;
  opacity: 0.8;
}

.sidebarButtonShadow:hover:not([disabled]) {
  opacity: 1;
}

.sidebarButtonShadow:active:not([disabled]) {
  background-color: var(--rsp_green);
  box-shadow: 0 0.375rem var(--rsp_lightblue);
  transform: translateY(0.375rem);
}

.sidebarButtonShadow:disabled,
.sidebarButtonShadow[disabled]{
  background-color: white;
  cursor: not-allowed;
  pointer-events: all !important;
}


