/*
// ////////////////////////////////////////////////////
// Author: Sunil Nanda
// ////////////////////////////////////////////////////
*/
.sidebarColumn {
  width: 350px;
  background-color: var(--rsp_blue);
  padding-bottom: 20px;
  margin-top: 50px;
  margin-bottom: 0;
  margin-left: -8px;
}

.sidebar {
  width: 300px;
  font-size: 20px;
  font-family: verdana;
  margin-left: 20px;
}

.sidebar div {
  padding: 10px;
  font-size: 25px;
  display: block;
}

.body-pane {
  border-radius: 25px;
  margin-top: -1125px;
  margin-left: 370px;
  margin-right: 20px;
  font-size: 20px;
  font-family: verdana;
}


