:root {
  --chartContainerPadding: 21rem;
  --chartBodyHeight: 20rem;
  --chartMenuIndent: 1rem;
  --chartMenuFontSize: 1.1rem;
  --chartMenuBannerHeight: 2.5rem;
  --chartMenuIconSize: 1rem;

  --noUiTooltipSize: 0.7rem;

  --shapeContainerPadding: 21rem;
  --shapeBodyHeight: 20rem;
  --shapeMenuIndent: 1rem;
  --shapeMenuFontSize: 1rem;
  --shapeMenuBannerHeight: 2.5rem;
  --shapeMenuIconSize: 1rem;

  --colorLegendSize: 2rem;
  --colorLegendFontSize: 1.5rem;

  --columnPadding: 1rem;
  --sidebarBtnHeight: 3rem;
  --sidebarBtnWidth: 14rem;
  --sidebarBtnFontSize: 1.4rem;
  --sidebarBtnPadding: 0.35rem 0.35rem;
  --sidebarBtnMargin: 0.15rem 0.15rem 0rem 0.6rem;
  --swalFontSize: 1.2rem;
  --swalTextFontSize: 1.5rem;
}

