/* ******************************************************
// Author: Sunil Nanda
********************************************************* */
.minBannerCls {
  color: var(--rsp_darkblue);
	font-size: 1.5rem;
	width:41rem;
	height:4rem;
	margin-top:-1rem;
}

