.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: Verdana;
  background-color: var(--rsp_darkblue);
  color: white;
  padding: 0.5rem;
  -webkit-box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.4);
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.4);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  transform: translate(-50%, -50%);
  /* (x, y)  => position */
  -ms-transform: translate(-50%, -50%);
  /* IE 9 */
  -webkit-transform: translate(-50%, -50%);
  /* Chrome, Safari, Opera */
}

.docHrefCls {
  font-size:1.4rem;
  background-color: var(--rsp_lightblue);
}

a:link { 
  color: var(--rsp_darkblue);
  text-decoration: none;
  font-weight: normal;
	display: block;
}

a:visited { 
	color: white;
  text-decoration: none;
  font-weight: normal;
	display: block;
}

a:active {
	color:var(--rsp_mediumblue);
  text-decoration: none;
  font-weight: normal;
	display: block;
  transform: translateY(0.2rem);
}

a:hover {
	color:var(--rsp_mediumblue);
  text-decoration: none;
  font-weight: normal;
	display: block;
  transform: translateY(-0.2rem);
}
