/*
// ////////////////////////////////////////////////////
// Author: Sunil Nanda
// ////////////////////////////////////////////////////
*/
.sidebarColumn {
  width: 21rem;
  padding-bottom: 0.5rem;
  padding-top: 1.4rem;
  padding-right: 0.8rem;
  margin-top: 2.5rem;
	border-right: groove 0.5rem var(--rsp_mediumblue);
}

.sidebar {
  width: 19rem;
  margin-left: 1rem;
}

.sidebar div {
  padding: 1rem;
  display: block;
}

.body-pane {
  margin-left: 1rem;
  margin-right: 1rem;
}

