/*
// ////////////////////////////////////////////////////
// Author: Sunil Nanda
// ////////////////////////////////////////////////////
*/
.sidebarColumn {
  width: 17rem;
  padding-bottom: 0.5rem;
  padding-top: 1.4rem;
  padding-right: 0.4rem;
  margin-top: 2rem;
  margin-bottom: 0rem;
	border-right: groove 0.5rem var(--rsp_mediumblue);
}

.sidebar {
  width: 15rem;
  font-size: 1.1rem;
  margin-left: 1rem;
}

.sidebar div {
  padding: 1rem;
  font-size: 1.1rem;
  display: block;
}

.body-pane {
  margin-right: 1rem;
  font-size: 1.1rem;
}

