:root {
  --chartContainerPadding: 25rem;
  --chartBodyHeight: 23rem;
  --chartMenuIndent: 1rem;
  --chartMenuFontSize: 1rem;
  --chartMenuBannerHeight: 2.5rem;
  --chartMenuIconSize: 1rem;

	/* ALL below in REM */
  --chartLabelFontSize: 0.8;
  --chartLegendFontSize: 0.8;
  --chartTitleFontSize: 1.8;
  --chartStripLineFontSize: 1.8;
  --chartStripLineThickness: 0.1;

  --noUiTooltipSize: 0.7rem;

  --waveContainerPadding: 25rem;
  --waveBodyHeight: 23rem;
  --waveMenuIndent: 1rem;
  --waveMenuFontSize: 1rem;
  --waveMenuBannerHeight: 2.5rem;
  --waveMenuIconSize: 1rem;

	/* ALL below in REM */
  --waveLabelFontSize: 0.8;
  --waveLegendFontSize: 0.8;
  --waveTitleFontSize: 1.8;
  --waveStripLineFontSize: 1.8;
  --waveStripLineThickness: 0.1;

  --colorLegendSize: 1.5rem;
  --colorLegendFontSize: 1.2rem;

  --columnPadding: 1rem;
  --sidebarBtnHeight: 3rem;
  --sidebarBtnWidth: 12rem;
  --sidebarBtnFontSize: 1.4rem;
  --sidebarBtnPadding: 0.35rem 0.35rem;
  --sidebarBtnMargin: 0.15rem 0.15rem 0rem 0.6rem;
  --swalFontSize: 1.2rem;
  --swalTextFontSize: 1.5rem;
}

