:root {
  --chartContainerPadding: 27rem;
  --chartBodyHeight: 27rem;
  --chartMenuIndent: 1.2rem;
  --chartMenuFontSize: 1.4rem;
  --chartMenuBannerHeight: 2.5rem;
  --chartMenuIconSize: 1.2rem;

	/* ALL below in REM */
  --chartLabelFontSize: 1;
  --chartLegendFontSize: 1;
  --chartTitleFontSize: 1.6;
  --chartStripLineFontSize: 1.8;
  --chartStripLineThickness: 0.1;

  --noUiTooltipSize: 0.85rem;

  --waveContainerPadding: 46rem;
  --pWaveBodyHeight: 22rem;
  --fWaveBodyHeight: 23rem;
  --waveMenuIndent: 1.2rem;
  --waveMenuFontSize: 1.4rem;
  --waveMenuBannerHeight: 2.5rem;
  --waveMenuIconSize: 1.2rem;

	/* ALL below in REM */
  --waveLabelFontSize: 1;
  --waveLegendFontSize: 1;
  --waveTitleFontSize: 1.6;
  --waveStripLineFontSize: 1.2;
  --waveStripLineThickness: 0.05;

  --colorLegendSize: 1.5rem;
  --colorLegendFontSize: 1.2rem;

  --columnPadding: 1rem;
  --sidebarBtnHeight: 2.5rem;
  --sidebarBtnWidth: 15rem;
  --sidebarBtnFontSize: 1.6rem;
  --sidebarBtnPadding: 0.35rem 0.35rem;
  --sidebarBtnMargin: 0.15rem 0.15rem 0rem 0.6rem;

  --swalTextFontSize: 1.5rem;
  --swalTitleFontSize: 1.6rem;
}

