.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 1em 1em;
	place-content: center center;
	text-align: center;
	font-family: verdana;
	font-size: 1.4em;

}

.Measurements {
	grid-area: 5 / 1 / 6 / 8;
	color:white;
	background-color:var(--rsp_blue); 
}

.Messages {
	grid-area: 1 / 1 / 5 / 8;
	font-family: monospace;
	font-size: 2.8em;
	color:white;
	background-color:var(--rsp_darkblue); 
}

.Peak {
	grid-area: 6 / 1 / 9 / 4;
}

.Plateau {
	grid-area: 9 / 1 / 12 / 4;
}

.Peep {
	grid-area: 12 / 1 / 15 / 4;
}

.Dynamic {
	grid-area: 13 / 4 / 15 / 6;
}

.Static {
	grid-area: 13 / 6 / 15 / 8;
}

.Compliance {
	grid-area: 12 / 4 / 13 / 8;
}

.MBPM {
	grid-area: 10 / 4 / 12 / 6;
}

.SBPM {
	grid-area: 10 / 6 / 12 / 8;
}

.BPM {
	grid-area: 9 / 4 / 10 / 8;
}

.Tidal {
	grid-area: 7 / 4 / 9 / 6;
}

.Minute {
	grid-area: 7 / 6 / 9 / 8;
}

.Volume {
	grid-area: 6 / 4 / 7 / 8;
}

.Alarm {
	grid-area: 1 / 8 / 3 / 12;
}

.Date {
	grid-area: 3 / 8 / 5 / 12;
}

.Patient {
	grid-area: 1 / 12 / 5 / 18;
	font-size: 2.1em;
	color:white;
	background-color:var(--rsp_darkblue); 
}

.Temp {
	grid-area: 6 / 8 / 12 / 10;
}

.PreUse {
	grid-area: 6 / 10 / 8 / 12;
}

.Standby {
	grid-area: 8 / 10 / 10 / 12;
}

.Active {
	grid-area: 10 / 10 / 12 / 12;
}

.Error {
	grid-area: 12 / 10 / 14 / 12;
}

.State {
	grid-area: 5 / 8 / 6 / 12;
	color:white;
	background-color:var(--rsp_blue); 
}

.Mode {
	grid-area: 6 / 12 / 8 / 15;
	color:white;
	background-color:var(--rsp_blue); 
}

.VT {
	grid-area: 8 / 12 / 10 / 15;
	color:white;
	background-color:var(--rsp_blue); 
}

.RR {
	grid-area: 10 / 12 / 12 / 15;
	color:white;
	background-color:var(--rsp_blue); 
}

.IE {
	grid-area: 12 / 12 / 14 / 15;
	color:white;
	background-color:var(--rsp_blue); 
}

.IPeep {
	grid-area: 6 / 15 / 8 / 18;
	color:white;
	background-color:var(--rsp_blue); 
}

.PMAX {
	grid-area: 8 / 15 / 10 / 18;
	color:white;
	background-color:var(--rsp_blue); 
}

.PS {
	grid-area: 10 / 15 / 12 / 18;
	color:white;
	background-color:var(--rsp_blue); 
}

.TPS {
	grid-area: 12 / 15 / 14 / 18;
	color:white;
	background-color:var(--rsp_blue); 
}

.Parameters {
	grid-area: 5 / 12 / 6 / 18;
	color:white;
	background-color:var(--rsp_blue); 
}

.Altitude {
	grid-area: 12 / 8 / 15 / 10;
}

.Logo {
	grid-area: 14 / 10 / 15 / 18;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 0px;
  margin-left: 0px;
}

p.normal {
  font-weight: normal;
}

p.light {
  font-weight: lighter;
}

p.thick {
  font-weight: bold;
}

/* For presentation only, no need to copy the code below */

.container * {
  border: 1px solid red;
  position: relative;
}

.container *:after {
  /*
  content:attr(class);
  position: absolute;
  */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}

