.opExprLi {
	margin: 0.2rem;
}

.opExprUl {
	margin: 0.2rem;
	padding-left: 2rem;
	border-left: double;
}

.opIconSpan {
	border: 0.1rem dotted;
}

.opExprSpan {
	margin: 0.5rem;
	font-size: 1.2rem;
	font-weight: bold;
}

.opIconLi {
	width: 0.8rem;
	height: 0.8rem;
	margin: 0.3rem;
	vertical-align: middle;
	display: inline-block;
}

.leafExprLi {
	font-size: 1rem;
  font-style: italic;
	margin: 0.2rem;
}

.leafIconSpan {
	border: 0.1rem dotted;
}

.leafExprSpan {
	margin: 0.5rem;
}

.leafIconLi {
	width: 0.8rem;
	height: 0.8rem;
	margin: 0.3rem;
	vertical-align: middle;
	display: inline-block;
}

.searchExprCls {
	max-width: 80rem;
}

.searchExprCls ul {
	list-style-type: none;
	background-color: var(--rsp_lightblue);
	color: var(--rsp_darkblue);
}

.exprStringCls {
	font-size: 0.9rem;
	color: var(--rsp_darkblue);
}

.exprContainerCls {
	font-size: 1rem;
}

.exprBoundingBoxCls {
	font-size: 1rem;
	padding: 0.5rem;
	background-color: var(--rsp_lightblue);
	color: var(--rsp_darkblue);
}
