body {
  margin: 0;
  padding: 0;
  background: #EEE;
  font-family: verdana;
	font-size: 1.1rem;
}

.wrapTiles {
  margin: 0.6rem;
}

.tile {
  float: left;
  position: relative;
  width: 16rem;
  margin: 0.3rem;
	cursor: pointer;
}

.tileContent {
  margin: 0.5rem;
	height:16.5rem;
}

.tileUid {
	font-size: 1rem;
  background: #000;
  background: rgba(0, 0, 0, 0.5);
  color: #FFF;
  text-align: center;
	padding: 0.5rem;
}

body.no-touch .tileContent:hover body.touch .tileContent.touchFocus {
  margin-bottom: 0;
}

.statusCaption {
	background-color: darkgray;
	color: black;
}

.breathCaption {
	background-color: darkgray;
	color: black;
}

.tileName {
	color: white;
	font-weight: bold;
	font-size: 1.2rem;
}

.breathNum {
	color: white;
	font-weight: bold;
	font-size: 2.5rem;
	margin-top:-0.5rem;
	margin-bottom:-1rem;
}

.active {
	color: red;
	font-weight: bold;
}

.Alert {
	float: right;
}

.State {
	float: left;
}

.StateContent {
	display: block;
}

.ParamContentNonPSV {
	display: none;
}

.ParamContentPSV {
	display: none;
}

.ParamRow {
	clear: both;
}

.ParamFloatLeft {
	float: left;
	border-width: 0.1rem;
	border-style: solid;
	border-color: white;
	width: 42%;
}

.ParamFloatRight {
	float: right;
	border-width: 0.1rem;
	border-style: solid;
	border-color: white;
	width: 42%;
}

.ParamName {
	color: white;
	background-color: gray;
	font-size:1rem;
	margin-top:0rem;
}

.ParamValue {
	font-weight: bold;
	color: white;
	font-size:1rem;
}

.AudioControl {
	height: 2.5rem;
	font-weight: bold;
	font-size: 1.5rem;
	color: #0D3E51;
	margin: 0.3rem;
	padding: 0.3rem;
	cursor: pointer;
}

.AudioControl:hover{
  background-color: gray;
  border-color: gray;
  opacity:1; 
}

.AudioControl:active{
  background-color: var(--rsp_mediumgreen);
  border-color: var(--rsp_mediumgreen);
  box-shadow: 0 0.4rem white;
  transform: translateY(0.2rem);
}


