/* ******************************************************
// Author: Sunil Nanda
********************************************************* */

.fpLcdCls {
	position: absolute;
  font-family: monospace;
  font-size: 2rem;
  font-style: oblique;
  color: var(--rsp_brightgreen);
  background-color: black;
	z-index: 2;
}

.fpLedCls {
	position: absolute;
	z-index: 2;
}

.fpLedImgCls {
	width:1.1rem;
	height: 1.1rem;
}

.fpNumCls {
	position: absolute;
  font-size: 2rem;
  color: var(--rsp_brightgreen);
  background-color: black;
	z-index: 2;
}

.fpImgCls {
	width:30rem;
	height: auto;
}
