/* ******************************************************
// Author: Sunil Nanda
********************************************************* */

.fpLcdCls {
	position: absolute;
  font-family: monospace;
  font-size: 0.9rem;
	font-weight: bold;
  color: var(--rsp_darkgreen);
  background-color: yellow;
	z-index: 2;
}

.fpLedCls {
	position: absolute;
	z-index: 2;
}

.fpLedImgCls {
	width:1.2rem;
	height: 1.2rem;
}

.fpNumCls {
	position: absolute;
  font-family: Arial;
  color: var(--rsp_brightgreen);
  background-color: dimgrey;
	z-index: 2;
}

.fpLineCls {
}

.fpTextCls {
  font-size: 2.5rem;
  font-style: oblique;
	font-weight: bold;
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
  color: var(--rsp_brightgreen);
	z-index: 2;
}

.fpImgCls {
	width:34rem;
	height: auto;
}
