:root {
  --chartContainerPadding: 23rem;
  --chartBodyHeight: 20rem;
  --chartMenuIndent: 1rem;
  --chartMenuFontSize: 1rem;
  --chartMenuBannerHeight: 2rem;
  --chartMenuIconSize: 1rem;

	/* ALL below in REM */
  --chartLabelFontSize: 0.8;
  --chartLegendFontSize: 0.8;
  --chartTitleFontSize: 1.8;
  --chartStripLineFontSize: 1.2;
  --chartStripLineThickness: 0.1;

  --waveContainerPadding: 21rem;
  --waveBodyHeight: 20rem;
  --waveMenuIndent: 1rem;
  --waveMenuFontSize: 1rem;
  --waveMenuBannerHeight: 2rem;
  --waveMenuIconSize: 1.5rem;

	/* ALL below in REM */
  --waveLabelFontSize: 0.8;
  --waveLegendFontSize: 0.8;
  --waveTitleFontSize: 1.8;
  --waveStripLineFontSize: 1.2;
  --waveStripLineThickness: 0.1;

  --noUiTooltipSize: 0.6rem;

  --colorLegendSize: 1rem;
  --colorLegendFontSize: 0.9rem;

  --columnPadding: 1rem;
  --sidebarBtnHeight: 1.6rem;
  --sidebarBtnWidth: 12rem;
  --sidebarBtnFontSize: 1.2rem;
  --sidebarBtnPadding: 0.35rem 0.35rem;
  --sidebarBtnMargin: 0.15rem 0.15rem 0rem 0.6rem;
  --swalFontSize: 1.4rem;
  --swalTextFontSize: 1.2rem;
}

