.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1em 1em;
    place-content: center center;
    text-align: center;
    font-family: verdana;

}

.Messages {
    grid-area: 1 / 1 / 5 / 8;
    font-family: monospace;
    font-size: 4em;
    color: white;
    background-color: var(--rsp_darkblue);

}

.Alarm {
    grid-area: 1 / 8 / 3 / 11;
    background-color: var(--rsp_blue);
    font-size: 2em;
}

.State {
    grid-area: 3 / 8 / 5 / 11;
    background-color: var(--rsp_darkblue);
    font-size: 2em;
    color: white;
}

.Patient {
    grid-area: 1 / 11 / 5 / 17;
    font-size: 3em;
    color: white;
    background-color: var(--rsp_darkblue);
}

.Measurements {
    grid-area: 5 / 1 / 6 / 8;
    color: white;
    background-color: var(--rsp_blue);
    font-size: 2.0em;
    font-weight: bold;
}

.Peak {
    grid-area: 6 / 1 / 9 / 4;
    background-color: var(--rsp_blue);
    color: white;
    font-size: 2em;
}

.Plateau {
    grid-area: 9 / 1 / 12 / 4;
    background-color: var(--rsp_blue);
    color: white;
    font-size: 2em;
}

.Peep {
    grid-area: 12 / 1 / 15 / 4;
    background-color: var(--rsp_blue);
    color: white;
    font-size: 2em;
}

.Dynamic {
    grid-area: 13 / 4 / 15 / 6;
    background-color: var(--rsp_darkblue);
    color: white;
    font-size: 2em;
}

.Static {
    grid-area: 13 / 6 / 15 / 8;
    background-color: var(--rsp_darkblue);
    color: white;
    font-size: 2em;
}

.Compliance {
    grid-area: 12 / 4 / 13 / 8;
    background-color: var(--rsp_blue);
    color: white;
    font-size: 2em;
}

.MBPM {
    grid-area: 10 / 4 / 12 / 6;
    background-color: var(--rsp_darkblue);
    color: white;
    font-size: 2em;
}

.SBPM {
    grid-area: 10 / 6 / 12 / 8;
    color: white;
    background-color: var(--rsp_darkblue);
    font-size: 2em;
}

.BPM {
    grid-area: 9 / 4 / 10 / 8;
    background-color: var(--rsp_blue);
    font-size: 2em;
    color: white;
}

.Tidal {
    grid-area: 7 / 4 / 9 / 6;
    background-color: var(--rsp_darkblue);
    color: white;
    font-size: 2em;
}

.Minute {
    grid-area: 7 / 6 / 9 / 8;
    background-color: var(--rsp_darkblue);
    color: white;
    font-size: 2em;
}

.Volume {
    grid-area: 6 / 4 / 7 / 8;
    background-color: var(--rsp_blue);
    color: white;
    font-size: 2em;
}


.Environment {
    grid-area: 5 / 8 / 6 / 11;
    color: white;
    background-color: var(--rsp_blue);
    font-size: 2.0em;
    font-weight: bold;
}

.Temp {
    grid-area: 6 / 8 / 11 / 11;
    background-color: var(--rsp_darkblue);
    font-size: 2em;
}

.Altitude {
    grid-area: 11 / 8 / 15 / 11;
    background-color: var(--rsp_darkblue);
    font-size: 2em;
}

.Parameters {
    grid-area: 5 / 11 / 6 / 17;
    color: white;
    background-color: var(--rsp_blue);
    font-size: 2.0em;
    font-weight: bold;
}

.Mode {
    grid-area: 6 / 11 / 8 / 14;
    color: white;
    background-color: var(--rsp_blue);
}

.VT {
    grid-area: 8 / 11 / 10 / 14;
    color: white;
    background-color: var(--rsp_blue);
}

.RR {
    grid-area: 10 / 11 / 12 / 14;
    color: white;
    background-color: var(--rsp_blue);
}

.IE {
    grid-area: 12 / 11 / 14 / 14;
    color: white;
    background-color: var(--rsp_blue);
}

.IPeep {
    grid-area: 6 / 14 / 8 / 17;
    color: white;
    background-color: var(--rsp_blue);
}

.PMAX {
    grid-area: 8 / 14 / 10 / 17;
    color: white;
    background-color: var(--rsp_blue);
}

.PS {
    grid-area: 10 / 14 / 12 / 17;
    color: white;
    background-color: var(--rsp_blue);
}

.TPS {
    grid-area: 12 / 14 / 14 / 17;
    color: white;
    background-color: var(--rsp_blue);
}

.Pending {
    grid-area: 14 / 11 / 15 / 17;
    background-color: var(--rsp_blue);
    color: white;
    font-size: 2em;
}
